.gameboyOverlay {
	background-image: url("/gameboy-overlay-image.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gameboyScreen {
	width: 300px;
	height: 144px;
	overflow: hidden;
	border: 2px solid red;
	position: relative; /* Positionierung relativ zum Elternelement */
	top: -200px; /* verschieben */
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 768px) {
	.gameboyScreen {
		width: 320px;
		height: 288px;
	}
}
