/* @font-face {
	font-family: "pokemon-fire-red";
	src: url("/public/Font/PressStart2P-Regular.ttf");
	font-weight: normal;
	font-style: normal;
} */

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.player--state-box {
	position: absolute;
	top: 165px;
	right: 0px;
	background-image: url("/sprites/statusbar-player.png");
	width: 200px;
	height: 68px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 1;
}

.player--stats-wrapper {
	position: relative;
}

.player--stats-img {
	position: absolute;
	bottom: 95px;
	right: 0;
	width: 200px;
}

.player--pokemon-health {
	position: absolute;
	top: 35px;
	right: 60px;
	z-index: 11;
	text-shadow: 1px 1px 0px #b7b7b7;
	font-family: "Press Start 2P", cursive;
	font-size: 10px;
}

.player--pokemon-health-bar {
	position: absolute;
	height: 5px;
	width: 80px;
	left: 111px;
	top: 21px;
	z-index: 10;
	background-color: #25b527;
	/* background: rgb(42,106,37);
	background: linear-gradient(180deg, rgba(42,106,37,1) 0%, rgba(37,183,40,1) 39%); */
	transition: all 0.4s linear;
}

.player--pokemon-slash-health {
	position: absolute;
	top: 35px;
	right: 52px;
	z-index: 1;
	text-shadow: 1px 1px 0px #b7b7b7;
	font-family: "Press Start 2P", cursive;
	font-size: 10px;
}

.player--pokemon-max-health {
	position: absolute;
	top: 35px;
	right: 25px;
	z-index: 1;
	text-shadow: 1px 1px 0px #b7b7b7;
	font-family: "Press Start 2P", cursive;
	font-size: 10px;
}

.player--pokemon-name {
	position: absolute;
	top: 0px;
	left: 30px;
	z-index: 10;
	text-shadow: 1px 1px 0px #b7b7b7;
	font-size: 10px;
	text-transform: uppercase;
	font-family: "Press Start 2P", cursive;
}

.player--pokemon-level {
	position: absolute;
	top: 0px;
	right: 19px;
	z-index: 10;
	text-shadow: 1px 1px 0px #b7b7b7;
	font-family: "Press Start 2P", cursive;
	font-size: 10px;
}
