.menu {
	position: absolute;
	width: 100%;
	height: 80px;
	z-index: 2;
	bottom: 0;
	background-image: url("/sprites/menu-box.png");
	background-size: cover;
	background-repeat: no-repeat;

	color: white;
}

.menu--comment-box {
	width: 385px;
	height: 100%;
	line-height: 16px;
	/* background: url("./images/comment_box_full.jpg"); */
	background-size: contain;
	background-repeat: no-repeat;
	padding: 10px 25px;
	border: 3px solid green;
}

.menu--overview-box {
	display: flex;
	justify-content: space-between;
	flex-basis: 50%;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 10px 25px;
	/* border: 3px solid red; */
}

.menu--overview-box-left {
	width: 50%;
	line-height: 16px;
	/* border: 3px solid blue; */
	position: relative;
	left: -10px;
	top: px;
}

.menu--overview-box-right {
	/* border: 3px solid green; */
	width: 50%;
	right: 0px;
	position: relative;
	top: 0px;
	left: 15px;
}

.btn {
	position: absolute;
	width: 101px;
	height: 30px;
	border-radius: 13px;
	color: black;
	text-align: left;
	opacity: 0.8;
	cursor: pointer;
	text-transform: uppercase; /* um alle Texte in Großbuchstaben umzuwandeln */
}

.btn--fight {
	color: black;
	left: 0px;
	top: 5px;
	text-transform: uppercase;
}

.btn--bag {
	color: black;
	left: 100px;
	top: 5px;
	text-transform: uppercase;
}

.btn--pokemon {
	color: black;
	left: 0px;
	top: 20px;
	text-transform: uppercase;
}

.btn--run {
	color: black;
	left: 100px;
	top: 20px;
	text-transform: uppercase;
}
