.screen {
	background-image: url("/background/background-middle.png");
	background-size: 426px 250px; /* Breite und Höhe des Hintergrunds */

	display: block;
	font-size: 10px;
	height: 325px;
	width: 426px;
	left: 282px;
	top: 112px;
	position: relative;
	/* border: 3px solid red; */
}
